<div class="row justify-content-start">
    <div class="col-lg-5">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">For Candidates</h2>
          <p class="card-text pt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
          <a routerLink="/loginCandidate" routerLinkActive="active"  class="btn btn-orange mt-3">Login as Candidate</a>
          <p class="card-text pt-4">Don't have account?<a routerLink="/signupCandidate" routerLinkActive="active"><span class="font-orange" > Sign Up</span> </a></p>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">For Recruiters</h2>
          <p class="card-text pt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
          <a routerLink="/loginRecruiter" routerLinkActive="active" class="btn btn-orange mt-3">Login as Recruiter</a>
          <p class="card-text pt-4">Don't have account?<a routerLink="/signupRecruiter" routerLinkActive="active"><span class="font-orange" > Sign Up</span> </a></p>
        </div>
      </div>
    </div>
  </div>