<div class="row">
    <div class="col-lg-4 profile">
        <div class="card">
            <div>
                <h2>My Profile - <span class="font-orange">Candidate</span></h2>
            </div>
            <div class="card-body">
                <form (ngSubmit)="updateProfile()">
                    <div class="form-group">
                        <label>Name</label>
                        <input matInput type="text" class="form-control" [(ngModel)]="name" (value)="name" name="name">
                        <!-- <mat-error *ngIf="emailId.invalid">{{getErrorMessage()}}</mat-error> -->
                      </div> 
                      <div class="form-group pt-3">
                        <label>Email</label>
                        <input matInput type="text" class="form-control" [(ngModel)]="email" (value)="email" name="email">
                        <!-- <mat-error *ngIf="emailId.invalid">{{getErrorMessage()}}</mat-error> -->
                      </div> 
                      <div class="form-group pt-3">
                        <label>Phone</label>
                        <input matInput type="text" class="form-control" [(ngModel)]="phone" (value)="phone" name="phone" ng-maxlength="10">
                        <!-- <mat-error *ngIf="emailId.invalid">{{getErrorMessage()}}</mat-error> -->
                      </div>
                      <div class="form-group pt-3">
                        <label>Skills</label>
                        <input matInput type="text" class="form-control" [(ngModel)]="skills" (value)="skills" name="skills">
                        <!-- <mat-error *ngIf="emailId.invalid">{{getErrorMessage()}}</mat-error> -->
                      </div> 
                    
                      <button type="submit" mat-raised-button class="btn-orange mt-5 mb-5">Update Profile</button>

                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <router-outlet></router-outlet>
    </div>
</div>
